/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;

}
img{
    width: 100%;
}


ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
li{
    text-decoration:none;
}

li > a{
    font-size: inherit;
}
/* /reset */



/* header*/

header{
    background-color: #b4d0e7;

}

.nav{
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 10px 0px #000000;
    -moz-box-shadow: 0px 5px 10px 0px #000000;
    box-shadow: 0px 5px 10px 0px #000000;
    box-shadow: 0px 5px 10px 0px #000000;
    background-color: #ffff;
}

.logo-container{
    padding: 10px; 
}
.logo-container > img{
    height: 20px;
}

header .col{
    width: 50%;
}
header .col:last-child{
    justify-content: flex-end;
}

.hero .row:first-child{
    padding-bottom: 60px;
}

.buttons{
    align-items: center;
    display: flex;
}

/* /header */


/* hero */
.hero{
    padding-top: 30px;
}

.hero .col-30{
    min-height: 400px ;
    display: flex;
    flex-direction: column;
}




.hero h1{
    width: 100%;
    font-size: 60px;
}


.hero p{
    margin-bottom: 30px;
}




.hero .col-30 > button{
    margin-bottom: 5%;
}



.icon-container{
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    align-content: end;
    padding-bottom: 100px;
    font-size: 30px;

}
.hero .fa-arrow-down{
    justify-self: flex-end;
}

/* /hero */

.container:first-of-type > h1{
    font-size: 40px;
}

/* Panels */
.panel-settings {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 35px;
}
.panel-h-settings{
    padding: 25px;
    display: flex;
   flex-direction: column;
   gap: 10px;
   
}




.col-33 ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    font-size: 14px;
    align-content: baseline;
    min-height: 150px;
}

.col-33 ul:first-child{
    min-height: 150px;
}




.panel li > div.flex{
    align-items: first baseline;
}

.btn-panel{
   margin-bottom: 30px
}

small.hr{
    border-bottom : 1px solid #d0d0d3;
    padding-bottom:35px ;
   font-size: 14;
}
.panel a{
    font-size: smaller;
}





/* utility*/
.col, header ul{
    display: flex;
    gap: 40px;

}

.flex{
    display: flex;
    gap:5px;
}

.flex-end{
    justify-content: flex-end;
}

.gap{
    gap: 5px;
}

.grow{
    flex-grow: 1;
}




.relative{
    position: relative;
    bottom: -80px;
}



.col-30{
    width: 30%;
}

.col-33{
    width: calc(100% / 3);
}

.col-70{
    width: 70%;
}

.row{
    width: 100%;
    display: flex;
}


.font-small{
    font-size: 14px;
}



button{
    padding: 5px 5px;
}

.btn-big{
    padding: 10px;
}

.btn-none{
    border: none;
    background: transparent;
}

.btn-blue{
    background-color: #0061ff;
    border: none;
    color: #ffff;
}



[type="radio"]{
    margin-right: 5px;
}


.panel{
   
    min-height: 900px;
    flex-direction: column;
    margin-top:30px ;
}

.horizontal{
    
    min-height: max-content;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;

}

.label-settings{
    text-align: center;
    
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d0d0d3;
}
.margin-top{
    margin-top:30px
}

  


.panel-h{
    
    border-bottom: none;
    margin-top: 30px;
    gap: 10px;

}

.fa-check{
    font-size: inherit;
    color: #0061ff;
}

.border-out{
    border: 1px solid #d0d0d3;
}

.border-top-none{
    border-top: none;
}




/* container*/
.container-large{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.container{
    max-width: 1000px;
    margin: auto;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}
section:first-of-type{
    padding-top: 100px;
}
.container > h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.panel-container{
    width: 100%;
    display: flex;
    gap: 30px;
}
.checkboxes{
    display: flex;
    gap: 30px;
}